.lista-autores input{
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #0000006e;
}

.busqueda {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.busqueda input {
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #0000006e;
}

.lista-autores .lista {
    display: flex;
    flex-direction: column;
    width: auto;
}

.lista-autores .lista .autor {
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #0000006e;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 80% 20%;
    cursor: pointer;
}

.lista-autores .lista .autor .nombre-autor {
  color: white;
}

.lista{
  display: flex;
  align-self: center;
}