.contenedor-lista-clubes {
    /* Estilos para el contenedor de la lista */
    text-align: center;
    padding: 40px 100px;
    max-width: 100% !important;
}

.contenedor-lista-clubes .lista {
    /* Estilos para la lista de clubes */
    display: flex; /* Utiliza flexbox para alinear los clubs horizontalmente */
    flex-direction: column;
}

.contenedor-lista-clubes .lista .club {
    /* Estilos para cada club */
    background-color: #0000006e;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 80% 20%;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.contenedor-lista-clubes .lista .club .contenido-club {
  display: flex;
  align-items: center;
  flex: 1;
  grid-column: span 1;
}

.contenedor-lista-clubes .lista .club .contenido-club .portadas{
  margin: 10px;
  cursor: pointer;
}

.contenedor-lista-clubes .lista .club .contenido-club .portadas img{
    /* Estilos para las imágenes de portada */
    width: 100px; /* Ancho de la imagen */
    height: auto; /* Altura automática para mantener la proporción */
    margin: 10px;
}

.contenedor-lista-clubes .lista .club .contenido-club .nombre {
    /* Estilos para los títulos de las clubes */
    margin: 0; /* Elimina el margen predeterminado */
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 10%;
}

.contenedor-lista-clubes .lista .club .boton-container {
  margin-right: 50px;
  margin-left: auto;
  position: relative;
  align-self: center;
  justify-self: flex-end;
  grid-column: span 1;
}

.contenedor-lista-clubes .lista .club .boton-container .boton-opciones{
  position: absolute; /* Establece el posicionamiento absoluto */
  top: calc(100% + 5px); /* Coloca el menú debajo del botón */
  right: 0; /* Lo alinea con el borde derecho del contenedor del botón */
  background-color: black;
  z-index: 1; /* Asegura que esté por encima de otros elementos */
}

.contenedor-lista-clubes .buscador-container{
    align-items: flex-start;
    justify-content: flex-start;
    right: 0;
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
  }

  .contenedor-lista-clubes .buscador-container .crear-club-btn{
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 2%;
  }

  .contenedor-lista-clubes .buscador-container .buscador{
    width: 50% !important;
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
  }

  .contenedor-lista-clubes .crear-club-container{
    align-items: flex-start;
    justify-content:space-between;
    right: 0;
    display: flex;
    margin-left: 10vw;
    margin-right: 10vw;
    padding-bottom: 25px;
  }

  .contenedor-lista-clubes .submit-club-button{
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .contenedor-lista-clubes .crear-club-container .nombre-nuevo-club{
    width: 75% !important;
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
  }

  .contenedor-lista-clubes .crear-club-container .descripcion-nuevo-club{
    width: 75% !important;
    min-height: 30px; /* Altura mínima del input */
    max-height: 100px; /* Altura máxima del input */
    height: 60px; /* Altura inicial del input */
    border-radius: 10px;
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
  }

  .contenedor-lista-clubes .crear-club-container .selector-libros {
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
  }

  .sign-error-message {
    background: #ff0000d1;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    margin-top: 0.5%;
  }
  
  @media (max-width: 988px){
    
    .contenedor-lista-clubes .buscador-container .buscador{
        width: 100% !important;
    }
    
    .contenedor-lista-clubes .buscador-container{
        padding-bottom: 15px;
    }
}