.contenedor-mensajes {
    /* Estilos para el contenedor de la lista */
    text-align: center;
    padding: 20px 30px;
    margin: 20px 70px;
    height: 70vh;
    overflow: hidden;
    position: relative;
    max-width: 100% !important;
    border-radius: 50px;
    background: #e1e8e7;
}

.contenedor-mensajes .lista {
    /* Estilos para la lista de mensajes */
    display: flex; /* Utiliza flexbox para alinear los mensajes horizontalmente */
    flex-direction: column;
    overflow-y: scroll;
    height: 60vh;
}

.contenedor-mensajes .lista .mensaje {

}

.contenedor-mensajes .lista .mensaje .mensaje-propio {
    /* Estilos para cada mensaje */
    margin-right: 2vw; /* Espacio entre los mensajes */
    margin-bottom: 3vh; /* Espacio debajo de los mensajes */
    padding-left: 0.5vw;
    padding-right: 2vw;
    width: fit-content;
    background-color: #43db54;
    border-radius: 20px;
    display: flex;
    text-align: right;
    align-self: flex-end;
}

.contenedor-mensajes .lista .mensaje .mensaje-ajeno {
  /* Estilos para cada mensaje */
  margin-right: 2vw; /* Espacio entre los mensajes */
  margin-bottom: 3vh; /* Espacio debajo de los mensajes */ 
  padding-left: 2vw;
  padding-right: 2vw;
  width: fit-content;
  background-color: #9d9d9d;
  border-radius: 20px;
  display: flex;
  text-align: left;
  /*grid-template-columns: 80% 20%;*/
}
/*
.contenedor-mensajes .lista .mensaje .contenido-msg {
  display: flex;
  align-items: center;
  flex: 1;
  grid-column: span 1;
}

.contenedor-mensajes .lista .mensaje .contenido-msg .texto-msg{
  margin: 10px;
  cursor: pointer;
}
*/

  .escribir-msg-container{
    align-items: center;
    right: 0;
    display: flex;
    justify-content: center;
    height: 8vh;
  }

  .escribir-msg-container .escribir-msg{
    width: 100% !important;
    height: 5vh;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
  }
  
  .escribir-msg-container .button-send{
    height: 5vh;
    width: 5vh;
    border-radius: 10px;
  }

.lista::-webkit-scrollbar {
    width: 8px;
}

.lista::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.lista::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.lista::-webkit-scrollbar-track {
    background-color: #eee;
}