.mgs-container-propio {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
  }

  .mgs-container-ajeno {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-start;
  }
  
.mgs-container-propio .texto-msg,
.mgs-container-ajeno .texto-msg {
    margin: 10px;
    cursor: pointer;
  }