.contenedor-lista-libros {
    /* Estilos para el contenedor de la lista */
    text-align: center;
    padding: 40px 100px;
    max-width: 100% !important;
}

.contenedor-lista-libros .lista {
    /* Estilos para la lista de libros */
    display: flex; /* Utiliza flexbox para alinear los libros horizontalmente */
    flex-direction: column;
    width: auto;

}

.contenedor-lista-libros .lista .libro {
    /* Estilos para cada libro */
    margin-top: 3vh; /* Espacio entre los libros */
    margin-bottom: 3vh; /* Espacio debajo de los libros */ 
    background-color: #0000006e;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 80% 20%;
}

.contenedor-lista-libros .lista .libro .contenido-libro {
  display: flex;
  align-items: center;
  flex: 1;
  grid-column: span 1;
}

.contenedor-lista-libros .lista .libro .contenido-libro .portadas{
  margin: 10px;
  cursor: pointer;
}

.contenedor-lista-libros .lista .libro .contenido-libro .portadas img{
    /* Estilos para las imágenes de portada */
    width: 100px; /* Ancho de la imagen */
    height: auto; /* Altura automática para mantener la proporción */
    margin: 10px;
}

.contenedor-lista-libros .lista .libro .contenido-libro .info-libro {
    /* Estilos para los títulos de los libros */
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    color: white;
    text-decoration: none;
    background: none;
}

.contenedor-lista-libros .lista .libro .contenido-libro .info-libro .titulo {
  /* Estilos para los títulos de los libros */
  margin: 0; /* Elimina el margen predeterminado */
}

.contenedor-lista-libros .lista .libro .contenido-libro .info-libro .autor {
  /* Estilos para los títulos de los libros */
  margin: 0; /* Elimina el margen predeterminado */
  margin-top: 2vh;
}

.contenedor-lista-libros .lista .libro .contenido-libro .info-libro .autor .info-linkAutor {
  /* Estilos para los títulos de los libros */
  color:white;
}

.contenedor-lista-libros .lista .libro .contenido-libro .info-libro .titulo:hover {
  cursor: pointer;
  text-decoration: underline;
}

.contenedor-lista-libros .buscador-container{
    align-items: end;
    right: 0;
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
  }

  .contenedor-lista-libros .buscador-container .selector-generos {
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
  }

  .contenedor-lista-libros .buscador-container .buscador{
    width: 50% !important;
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
  }
  
  .contenedor-lista-libros .buscador-container .button-search{
    height: 30px;
    width: 30px;
    border-radius: 10px;
  }
  
  @media (max-width: 988px){
    
    .contenedor-lista-libros .buscador-container .buscador{
        width: 100% !important;
    }
    
    .contenedor-lista-libros .buscador-container{
        padding-bottom: 15px;
    }
}