.contenedor-lista-biblioteca {
    /* Estilos para el contenedor de la lista */
    text-align: center;
    padding: 40px 100px;
    max-width: 100% !important;
}

.contenedor-lista-biblioteca .lista {
    /* Estilos para la lista de libros */
    display: flex; /* Utiliza flexbox para alinear los libros horizontalmente */
    flex-direction: column;
    width: auto;

}

.contenedor-lista-biblioteca .lista .libro {
    /* Estilos para cada libro */
    margin-top: 3vh; /* Espacio entre los libros */
    margin-bottom: 3vh; /* Espacio debajo de los libros */ 
    background-color: #0000006e;
    border-radius: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 70% 30%;
    align-items: center;

}

.contenedor-lista-biblioteca .lista .libro .portadas{
  margin: 20px;
  grid-row: span 2;
  grid-column: span 1;
}

.contenedor-lista-biblioteca .lista .libro .portadas img{
    /* Estilos para las imágenes de portada */
    width: 100px; /* Ancho de la imagen */
    height: auto; /* Altura automática para mantener la proporción */
    cursor: pointer;
}

.contenedor-lista-biblioteca .lista .libro .titulo {
    grid-row: span 1;
    grid-column: span 1;
    color: white;
    text-decoration: none;
    background: none;
    word-wrap: break-word;
}

.contenedor-lista-biblioteca .lista .libro .autor {
    grid-row: span 1;
    grid-column: span 1;
    color: black;
    text-decoration: none;
    background: none;
    cursor: pointer;
    word-wrap: break-word;
}


.contenedor-lista-biblioteca .lista .libro .titulo:hover {
  cursor: pointer;
  text-decoration: underline;
}

.contenedor-lista-biblioteca .buscador-container{
    align-items: end;
    right: 0;
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
  }

  .contenedor-lista-biblioteca .buscador-container .selector-generos {
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
  }

  .contenedor-lista-biblioteca .buscador-container .buscador{
    width: 50% !important;
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
  }
  
  .contenedor-lista-biblioteca .buscador-container .button-search{
    height: 30px;
    width: 30px;
    border-radius: 10px;
  }
  
  @media (max-width: 988px){
    
    .contenedor-lista-biblioteca .buscador-container .buscador{
        width: 100% !important;
    }
    
    .contenedor-lista-biblioteca .buscador-container{
        padding-bottom: 15px;
    }
}