.amigos {
    background: linear-gradient(#7f9894, #21ad96);
    height: auto;
    min-height: calc(100vh - 80px);
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: flex-start;
}

.amigos-lista-container {
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.amigos-lista {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-right: 15%;
}

.amigos-titulo {
    font-size: 3rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.amigos-peticiones {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.amigos-peticiones-container {
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.amigo .amigos-lista .amigos-lista-container .loading-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }