.anyadir-libro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.titulo-nuevo-libro {
    width: 50% !important;
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
}

.autor-nuevo-libro {
    width: 50% !important;
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
}

.descripcion-nuevo-libro {
    width: 50% !important;
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
}

.imagen-nuevo-libro {
    width: 50% !important;
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
}

.audio-nuevo-libro {
    width: 50% !important;
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
}

.subit-libro-button {
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}