.autores {
    margin-top: 80px;
}

.autores .autores-container {
    display: grid;
    align-items: center;
    height: auto;
    min-height:calc(100vh - 80px);
    /*background: #0ec3a4;*/
    background: linear-gradient(#7f9894, #21ad96);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 1.5rem;
}

.autores .nombre {
    margin-top: 20px;
    align-self: flex-start;
    justify-self: center;
    width: auto;
    text-align: center;
}

.autores .autores-container .lista {
    margin-left: 26vw;
}

.libro-editButton {
    cursor: pointer;
    margin-left: 10px;
}

.libro-admin-guardar-cambios {
    margin-top: 2%;
    width: 20%;
    height: 50px;
    font-size: 1.2rem;
    background-color: beige;
    border-radius: 10px;
    padding: 2px 5px;
    justify-self: center;
    align-self: center;
    cursor: pointer;
  }