.autores {
    margin-top: 80px;
}

.autores .autores-container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    height: auto;
    min-height:calc(100vh - 80px);
    /*background: #0ec3a4;*/
    background: linear-gradient(#7f9894, #21ad96);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 1.5rem;
}


.autores .nombre {
    margin-top: 20px;
    align-self: flex-start;
    justify-self: center;
    width: auto;
    text-align: center;
}

.autores .autores-container{
    width: 60%;
}

.lista{
    display: flex;
    justify-content: center;
    margin: 20px;
}