.changefoto{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 80px);
    background: linear-gradient(#7f9894, #21ad96);
}

.changefoto .choose{
    font-size: 20px;
}
.rectangulo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2%;
}

.boton1{
    margin-left:10%;
    margin-bottom:5vh;
    height: 20vh;
    width: 15vw;
}


.boton2{
    margin-left: 5%;
    margin-bottom:5vh;
    height: 20vh;
    width: 15vw;
}

.boton3{
    margin-left: 5%;
    margin-bottom:5vh;
    height: 20vh;
    width: 15vw;
}

.boton4{
    margin-left: 5%;
    margin-bottom:5vh;
    height: 20vh;
    width: 15vw;
}

.boton5{
    margin-left: 10%;
    margin-bottom:5vh;
    height: 20vh;
    width: 15vw;
}

.boton6{
    margin-left: 5%;
    margin-bottom:5vh;
    height: 20vh;
    width: 15vw;
}

.boton7{
    margin-left: 5%;
    margin-bottom:5vh;
    height: 20vh;
    width: 15vw;
}

.boton8{
    margin-left: 5%;
    margin-bottom:5vh;
    height: 20vh;
    width: 15vw;
}

.boton9{
    margin-left: 30%;
    margin-bottom:5vh;
    height: 20vh;
    width: 15vw;
}

.boton10{
    margin-left: 5%;
    margin-bottom:5vh;
    height: 20vh;
    width: 15vw;
}

.foto1, .foto2, .foto3, .foto4, .foto5, .foto6, .foto7, .foto8, .foto9, .foto10{
    width: 100%; /* Ajusta el ancho de la imagen al 100% del tamaño del botón */
    height: 100%; /* Ajusta la altura de la imagen al 100% del tamaño del botón */
    object-fit: cover; /* Ajusta el tamaño de la imagen sin distorsionar la relación de aspecto */
}
