.colecciones {
    margin-top: 80px;
}

.colecciones .colecciones-container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: flex-start;
    justify-content: center;
    height: auto;
    min-height:calc(100vh - 80px);
    /*background: #0ec3a4;*/
    background: linear-gradient(#7f9894, #21ad96);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 1.5rem;
}

.colecciones .colecciones-footer {
    align-items: center;
    justify-content: center;
    height: auto;
}

.colecciones .colecciones-container .title{
    margin-top: 20px;
    align-self: center;
    width: 100%;
}

.colecciones .colecciones-container .lista {
    width: 100%;
}

.colecciones .colecciones-container .loading-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.colecciones .colecciones-footer .footer{
    width: 100%;
    align-self: flex-end;
}
