.home {
    margin-top: 80px;
    display: grid;
    grid-template-rows: 45vh repeat(10, auto);
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    justify-content: center;
    height: auto;
    /*background: #0ec3a4;*/
    background: linear-gradient(#7f9894, #acd1cb);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 2rem;
}

.foto-presentacion {
    grid-row: span 1;
    grid-column: span 1;
    justify-self: center;
    width: auto;
    height: 100%;
}

.texto-presentacion {
    grid-row: span 1;
    grid-column: span 1;
    align-self: center;
    justify-self: center;
    display: inline-block;
    justify-content: center;
    align-content: center;
    width: 75%;
    height: 75%;
}

.container {
    margin-top: 20px;
    margin-bottom: 50px;
    grid-row: span 1;
    grid-column: span 2;
    margin-left: 5%;
    margin-right: 5%;
}

.home .footer {
    grid-row: span 1;
    grid-column: span 2;
}