.miperfil {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 30px;
    margin-left: 15px;
}

.BotonFoto{
    height: 80px;
    width: 400px;
    text-align: left;
    font-size: 20px;
    background-color: #A4CEF4;
    border-radius: 10px;
}

.BotonNombre{
    height: 80px;
    width: 400px;
    text-align: left;
    font-size: 20px;
    background-color: #A4CEF4;
    border-radius: 10px;
}

.BotonCorreo{
    height: 80px;
    width: 400px;
    text-align: left;
    font-size: 20px;
    background-color: #A4CEF4;
    border-radius: 10px;
}

.BotonContrasegna{
    height: 80px;
    width: 400px;
    text-align: left;
    font-size: 20px;
    background-color:#A4CEF4;
    border-radius: 10px;
}