.perfil{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.Botones{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 30px;
    margin-left: -20%;
    margin-top: 5%;
}

.BotonFoto{
    height: 80px;
    width: 400px;
    text-align: left;
    font-size: 20px;
    background-color: #A4CEF4;
    border-radius: 20px; 
}

.BotonNombre{
    height: 80px;
    width: 400px;
    text-align: left;
    font-size: 20px;
    background-color: #A4CEF4;
    border-radius: 20px;  
}

.BotonCorreo{
    height: 80px;
    width: 400px;
    text-align: left;
    font-size: 20px;
    background-color: #A4CEF4;
    border-radius: 20px;  
}

.BotonContrasegna{
    height: 80px;
    width: 400px;
    text-align: left;
    font-size: 20px;
    background-color: #A4CEF4;
    border-radius: 20px;
}

.Imagen{
    margin-left: 15%;
    width: 30%;
    height: 55%;
    margin-top: 5%;
}

.Img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}