.register {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 89vh;
  /* width: auto; */
  background-image: url('../images/fondo-pagina-login.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.form {
  width: auto; /* Ancho del formulario */
  height: auto;
  padding: 20px;
  justify-content: center; /* No hace nada */
  align-items: center; /* No hace nada */
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: #2f9d3fd5;
}
  
.signup-box {
  padding: 10px;
}

  .input-box {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #ccc;
  }

  .form-label {
    font-size: 1.5rem;
    padding: 15px 10px;
    width: 150px;
    display: inline-block;
  }

  .submit-button {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 40%;
    width: 20%;
    font-size: 1.2rem;
    background-color: #8fd79a;
    border-radius: 10px;
    padding: 2px 5px;
    justify-self: center;
    align-self: center;
  }

  .link-login {
    text-decoration: underline;
    color: #f5f5f5;
  }

  .span-login {
    font-size: 1.2rem;
    color: #f5f5f5;
  }