.register {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
  /* width: auto; */
  background-image: url('../images/Biblioteca.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.register .form {
  width: auto; /* Ancho del formulario */
  height: auto;
  padding: 20px;
  justify-content: center; /* No hace nada */
  align-items: center; /* No hace nada */
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: #0ec3a5da;
}
  
.register .form .signup-box {
  padding: 10px;
}

.input-box {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #ccc;
}

.form-label {
  font-size: 1.5rem;
  padding: 15px 10px;
  width: 150px;
  display: inline-block;
}

.submit-button {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 38%;
  width: 24%;
  font-size: 1.2rem;
  background-color: #0fa7b2;
  border-radius: 10px;
  padding: 2px 5px;
  justify-self: center;
  align-self: center;
}

.link-login {
  text-decoration: underline;
  color: #000000;
}

.span-login {
  font-size: 1.2rem;
  color: #000000;
}

.error-message {
  margin-left: 10px;
}

.sign-error-message {
  background: #ff0000d1;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
}

.reg-success {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #21802fa2;
  border: 3px solid #1a881f;
  border-radius: 25px;
  height: 150px;
}

.reg-success .signup-success {
  margin: 0px 20px;
  font-size: 1.5rem;
  font-weight: bold;
}

.reg-success .link-success {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #ffffff;
  font-style: italic;
}