.contenedor-lista {
    /* Estilos para el contenedor de la lista */
    text-align: center;
    padding: 40px 100px;
    max-width: 100% !important;
}

.contenedor-lista .lista {
    /* Estilos para la lista de colecs */
    display: flex; /* Utiliza flexbox para alinear los colecs horizontalmente */
    flex-direction: column;

}

.contenedor-lista .lista .coleccion {
    /* Estilos para cada coleccion */
    background-color: #0000006e;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 80% 20%;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.contenedor-lista .lista .coleccion .contenido-colec {
  display: flex;
  align-items: center;
  flex: 1;
  grid-column: span 1;
}

.contenedor-lista .lista .coleccion .contenido-colec .nombre {
    /* Estilos para los títulos de las colecciones */
    margin: 0; /* Elimina el margen predeterminado */
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 10%;
}

.contenedor-lista .lista .coleccion .boton-container {
  margin-right: 50px;
  margin-left: auto;
  position: relative;
  align-self: center;
  justify-self: flex-end;
  grid-column: span 1;
}

.contenedor-lista .lista .coleccion .boton-container .boton-opciones{
  position: absolute; /* Establece el posicionamiento absoluto */
  top: calc(100% + 5px); /* Coloca el menú debajo del botón */
  right: 0; /* Lo alinea con el borde derecho del contenedor del botón */
  background-color: black;
  z-index: 1; /* Asegura que esté por encima de otros elementos */
}

.contenedor-lista .buscador-container{
    align-items: end;
    right: 0;
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
  }

  .contenedor-lista .buscador-container .crear-coleccion-btn{
    height: 5vh;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
  }

  .crear-coleccion-btn{
    background-color: #0fa7b2;
    border: 2px solid #000;
  }

  .contenedor-lista .buscador-container .buscador{
    width: 50% !important;
    height: 5vh;
    width: 15vw;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
  }

  .contenedor-lista .crear-coleccion-container{
    align-items: end;
    right: 0;
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
  }

  .contenedor-lista .crear-coleccion-container .submit-coleccion-button{
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .contenedor-lista .crear-coleccion-container .nombre-nueva-coleccion{
    width: 50% !important;
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
  }

  .sign-error-message {
    background: #ff0000d1;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
  }
  
  @media (max-width: 988px){
    
    .contenedor-lista .buscador-container .buscador{
        width: 100% !important;
    }
    
    .contenedor-lista .buscador-container{
        padding-bottom: 15px;
    }
}