.footer { 
    /* margin-top: 80px; */
    display: flex;
    height: 50vh;
    align-items: center;
    justify-content: space-between;
    font-size: 1.7rem;
    background: linear-gradient(#4a746d, #0ec3a4);
    padding: 20px;
}

.sobreNosotros,
.contactos {
  width: 48%; /* Divide el footer en dos columnas */
}

.contactos {
  order: 1; /* Cambia el orden para que "Contáctanos" aparezca después */
}

.footer h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.footer p {
  margin: 5px 0;
}

.footer .correo {
  margin-top: 0;
}

.sobreNosotros .sobreNosotros-miembros {
    margin: 5px 0;
    padding-left: 20px; /* Añade un poco de espacio a la izquierda para los nombres */
    position: relative;
  }

  .sobreNosotros .sobreNosotros-miembros::before {
    content: "\2022"; /* Agrega un punto de lista redondo */
    color: black; /* Color del punto */
    position: absolute;
    left: 0;
  }