.dropdown-container {
    position: relative;

}

.dropdown-button {
    display: inline-block;
    background: none;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
.dropdown-button:hover {
    border: 1px solid white;
}

.dropdown-menu {
    position: absolute;
    top: calc(100% + 5px); /* Alinea el menú justo debajo del botón principal */
    left: 0;
    background: none;
    min-width: 160px;
    z-index: 100;

} 

.dropdown-menu .dropdown-menu-button {
    width: 100%;
    padding: 10px;
    text-align: left;
    border: none;
    background: none;
    cursor: pointer;
}

  
.dropdown-menu .dropdown-menu-button:hover {
    background-color: #ddd;
  }