.Controlls{
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-top: 1vh;
}



.PlayerContainer{
    display: flex;
    flex-direction: column;
}

.Navigation{
    width: 22vw;
    align-self: center;
    margin-top: 1vh;
    .NavigationWrapper
    {
        min-width: 100%;
        background-color: rgba(119, 119, 119, 0.781);
        height: 2vh;
        border-radius: 30px;
        cursor: pointer;
        
        .seekbar{
            width: 0;
            height: 100%;
            background-color:  #0c355b;
            border-radius: 30px;
        }

    }
}

.title{
    align-self: center;
    font-size: 3vh;
    height: 5vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
}





.imagen{
    margin-top: 10px;
    width: max-content;
    height: 65vh;
    align-self: center;
}

