.Controlls{
    display: flex;
    flex-direction: row;
}

.prev, .play, .sig{
    margin-top: 40px;
}

.PlayerContainer{
    display: flex;
    flex-direction: column;
}

.Navigation{
    width: 22vw;
    .NavigationWrapper
    {
        min-width: 100%;
        background-color: rgba(119, 119, 119, 0.781);
        height: 5px;
        border-radius: 30px;
        cursor: pointer;
        
        .seekbar{
            width: 0;
            height: 100%;
            background-color: rgb(24, 128, 3);
            border-radius: 30px;
        }

    }
}
.progressbar{
    margin-top: 2%;
    width: 450px;
    height: 10px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: stretch;

    border-radius: 60px;
    background-color: #494b52;
    box-shadow: 0px 0px 20px #111;

    overflow: hidden;
}

.bar{
    

    background-color: rgb(255, 174, 105);
}
.volumen{
    display: inline-block;
    vertical-align: middle;
    margin-top: 0px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 40px;
}


.imagen{
    margin-top: 10px;
    width: max-content;
    height: 65vh;
}

.barraVol{
    margin-top: 30px;
}